  <!-- FOOTER -->
  <footer>
    <section class="lists container space-between">
      <div class="links">
        <div class="link-header text-primary">Customer Support</div>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Order Tracker</a></li>
          <li><a href="#">Returns &amp; Refunds</a></li>
          <li><a href="#">Size Guide</a></li>
          <li><a href="#">Store Locator</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <div class="links">
        <div class="link-header text-primary">Company Info</div>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Students</a></li>
          <li><a href="#">Mobile Apps</a></li>
        </ul>
      </div>
      <div class="links">
        <div class="link-header text-primary">Privacy &amp; Terms</div>
        <ul>
          <li><a href="#">Privacy &amp; Security</a></li>
          <li><a href="#">Statement</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="links social">
        <div class="link-header text-primary">Follow Us</div>
        <ul>
          <li><a href="#" class="twitter"></a></li>
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="instagram"></a></li>
          <li><a href="#" class="pinterest"></a></li>
        </ul>
        <div class="newsletter">
          <div class="link-header">Email Updates</div>
          <div class="link-subheader">Exclusive sales, special offers, and more.</div>
          <input type="text" class="form-control" placeholder="Enter email address" />
          <button class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </section>

    <!-- PS DEMO -->
    <section class="ps">
      <div class="align-center flex flex-column">
        <img src="img/pluralsight-white.png" />
        <div class="demo">This site is created for demonstrative purposes only and does not offer any real products or services.</div>
      </div>
    </section>

    <!-- COPYRIGHT -->
    <div class="copyright text-primary">&copy;Pluralsight 2018</div>
  </footer>
</body>
</html>
