<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carved Rock Fitness</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
</head>
<body>

  <!-- NAVIGATION -->
  <nav class="header-nav">
    <div class="container flex space-between">
      <!-- BRANDING -->
      <div class="brand flex align-center">
        <a href="#">
          <img class="logo" alt="Carved Rock Fitness" src="img/carved-rock-logo.png">
        </a>
      </div>
      <!-- SEARCH -->
      <div class="flex flex-one align-center">
        <div>
          <form>
            <input class="search-box" aria-label="Search" placeholder="What can we help you find?" type="search">
            <button class="search-button" type="submit">SEARCH</button>
          </form>
          <ul class="nav-list flex space-between">
            <li><a href="store">Footwear</a></li>
            <li><a href="/">Equipment</a></li>
            <li><a href="/">Bags &amp; Travel</a></li>
            <li><a href="/">Trail Reviews</a></li>
            <li><a href="/orders">My Orders</a></li>
          </ul>
        </div>
        <!-- PROFILE -->
        <div class="profile flex align-center">
          <div class="account flex flex-column">
            John Doe <a class="logout" href="#">Log Out</a>
          </div>
          <div class="profile-pic"><img alt="John Doe" src="img/profile-pic.jpg"></div>
        </div>
      </div>
    </div>
  </nav>
