<%- include('header') %>

  <!-- HERO -->
  <section class="hero">
    <div class="container flex flex-column center align-center">
      <h1>Get A Grip</h1>
      <h2>20% Off</h2>
      <p>Throughout The Season</p>
    </div>
  </section>

  <!-- MAIN CONTAINER -->
  <div class="container">

    <!-- SALE BANNER -->
    <section>
      <div class="banner flex center align-center">
        <img alt="Brown Boots" src="img/brown-boots.jpg">
        <div class="banner-text">
          <div class="text-light">Couples retreat weekend</div>
          <div class="text-secondary">Save an extra 20%</div>
          <div class="text-primary">when you buy 2 pairs of boots</div>
        </div>
        <img alt="Grey Boots" src="img/grey-boots.jpg">
      </div>
    </section>

    <!-- CATEGORIES -->
    <section>
      <div class="category">
        <a href="#">
          <img alt="Splash Chic" src="img/category-1.jpg" />
          <div class="category-text">
            <h3>Splash Chic</h3>
            <div>Women's Wet Gear</div>
          </div>
        </a>
      </div>
      <div class="category">
        <a href="#">
          <img alt="Kid Klimbers" src="img/category-2.jpg" />
          <div class="category-text">
            <h3>Kid Klimbers</h3>
            <div>Children's Gear</div>
          </div>
        </a>
      </div>
      <div class="category">
        <a href="#">
          <img alt="Pack It In" src="img/category-3.jpg" />
          <div class="category-text">
            <h3>Pack It In</h3>
            <div>Camping Gear</div>
          </div>
        </a>
      </div>
      <div class="category">
        <a href="#">
          <img alt="Nature's AC" src="img/category-4.jpg" />
          <div class="category-text">
            <h3>Nature's AC</h3>
            <div>Men's Shorts</div>
          </div>
        </a>
      </div>
    </section>

    <!-- FULL BANNER -->
    <section class="full-banner">
      <div class="full-banner-image"></div>
      <div class="full-banner-sidebar flex flex-column align-center center">
        <h4>Trail Review</h4>
        <div>Asphalt</div>
        <div>National Park</div>
        <a class="btn btn-default" href="#">See Review</a>
      </div>
    </section>

  </div>

<%- include('footer') %>
